In [ ]:
# A mockup of our machine learning model
# accuracy of predicting Air Quality Index for most polluted and least polluted city

In [4]:
# Import our dependencies
import pandas as pd
import matplotlib as plt
import sklearn as skl
import sqlalchemy
from sqlalchemy import create_engine 
from sklearn.model_selection import train_test_split
from collections import Counter

In [5]:
# Postgres username, password, and database name (change accordingly)
postgres_address = 'localhost'
postgres_port = '5432' 
postgres_username = 'postgres' 
postgres_password = 'Wolfin2330'
postgres_dbname = 'Pollution_US'
# A long string that contains the necessary Postgres login information
postgres_str = ('postgresql://{username}:{password}@{ipaddress}:{port}/{dbname}'
                .format(username=postgres_username,
                        password=postgres_password,
                        ipaddress=postgres_address,
                        port=postgres_port,
                        dbname=postgres_dbname))
# Create the connection
cnx = create_engine(postgres_str)

In [6]:
# Upload csv
pollution_train_df = pd.read_csv('Most_polluted_city.csv')
pollution_train_df.head()

,state_code,county_code,site_num,address,state,county,city,date_local,co_agi
0,80,2,12,"UABC, CALZADA BENITO JUAREZ, MEXICALI",Country Of Mexico,BAJA CALIFORNIA NORTE,Mexicali,2006-01-01,47
1,80,2,12,"UABC, CALZADA BENITO JUAREZ, MEXICALI",Country Of Mexico,BAJA CALIFORNIA NORTE,Mexicali,2006-01-02,47
2,80,2,12,"UABC, CALZADA BENITO JUAREZ, MEXICALI",Country Of Mexico,BAJA CALIFORNIA NORTE,Mexicali,2006-01-04,40
3,80,2,12,"UABC, CALZADA BENITO JUAREZ, MEXICALI",Country Of Mexico,BAJA CALIFORNIA NORTE,Mexicali,2006-01-05,34
4,80,2,12,"UABC, CALZADA BENITO JUAREZ, MEXICALI",Country Of Mexico,BAJA CALIFORNIA NORTE,Mexicali,2006-01-06,84

In [7]:
# Split data into our features
feature_cols = ['state_code', 'county_code', 'site_num','county','city', 'date_local']
X = pollution_train_df [feature_cols]
y = pollution_train_df ['co_agi']

In [8]:
# Split the dataset into testing and traing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=6)

In [9]:
print(Counter(y_train))
print(Counter(y_test))

Counter({5: 49, 6: 39, 3: 37, 7: 33, 2: 27, 8: 26, 11: 24, 13: 19, 9: 19, 1: 16, 10: 16, 14: 15, 17: 15, 30: 15, 23: 14, 25: 13, 38: 12, 16: 12, 20: 12, 24: 12, 22: 12, 15: 11, 18: 10, 31: 10, 36: 9, 28: 8, 0: 8, 35: 7, 32: 7, 26: 7, 27: 6, 54: 6, 40: 6, 44: 6, 19: 5, 39: 5, 59: 5, 42: 5, 50: 4, 57: 4, 45: 4, 41: 4, 49: 4, 61: 4, 52: 4, 43: 4, 55: 4, 58: 4, 70: 3, 47: 3, 48: 3, 34: 3, 62: 3, 33: 3, 64: 3, 51: 2, 56: 2, 68: 2, 86: 2, 65: 2, 76: 2, 67: 2, 53: 2, 78: 2, 74: 1, 60: 1, 84: 1, 63: 1, 73: 1, 103: 1, 89: 1, 135: 1, 72: 1, 79: 1, 90: 1, 77: 1, 75: 1, 143: 1, 80: 1, 69: 1, 81: 1, 66: 1, 88: 1})
Counter({6: 33, 3: 28, 5: 27, 2: 23, 10: 20, 7: 20, 8: 18, 9: 14, 23: 11, 11: 11, 20: 10, 13: 10, 1: 10, 18: 10, 26: 9, 14: 9, 19: 8, 15: 8, 41: 7, 24: 7, 22: 7, 0: 7, 25: 6, 42: 6, 34: 6, 16: 6, 38: 5, 17: 5, 27: 5, 30: 5, 35: 5, 31: 4, 39: 4, 50: 4, 36: 3, 47: 3, 40: 3, 32: 3, 57: 3, 33: 3, 53: 3, 28: 3, 56: 3, 60: 3, 54: 2, 45: 2, 84: 2, 66: 2, 78: 2, 43: 2, 49: 2, 51: 2, 55: 2, 48: 2, 52: 2, 75: 2, 91: 1, 118: 1, 106: 1, 101: 1, 63: 1, 67: 1, 69: 1, 64: 1, 74: 1, 150: 1, 70: 1, 72: 1, 61: 1, 44: 1, 76: 1, 62: 1})