In [1]:
# A mockup of our machine learning model
# accuracy of predicting Air Quality Index for most polluted and least polluted city

In [2]:
# Import our dependencies
import pandas as pd
import matplotlib as plt
import sklearn as skl
from sklearn.model_selection import train_test_split
from collections import Counter

In [3]:
# Upload csv
pollution_train_df = pd.read_csv('Pollution_US_cleaned.csv')
pollution_train_df.head()

,State Code,County Code,Site Num,Address,State,County,City,Date Local,CO AQI
0,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,25
1,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-02,26
2,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-03,28
3,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-04,34
4,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-05,42

In [11]:
# Split data into our features
feature_cols = ['State Code', 'County Code', 'Site Num','County','City', 'Date Local']
X = pollution_train_df ['Date Local']
y = pollution_train_df ['CO AQI']

X.describe()

count         436876
unique          5996
top       2002-06-10
freq             160
Name: Date Local, dtype: object

In [12]:
# Split the dataset into testing and traing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=6)

In [13]:
print(Counter(y_train))
print(Counter(y_test))

Counter({3: 43602, 2: 42967, 5: 34291, 6: 26252, 1: 19405, 7: 19376, 8: 14234, 9: 10679, 0: 10185, 10: 8054, 11: 6388, 13: 4901, 14: 3614, 15: 3092, 16: 2422, 17: 1990, 18: 1640, 19: 1344, 20: 1056, 22: 925, 23: 796, 24: 646, 25: 526, 26: 496, 27: 407, 28: 335, 30: 317, 31: 290, 32: 231, 33: 185, 34: 149, 35: 146, 36: 122, 38: 110, 40: 86, 42: 80, 39: 79, 41: 76, 44: 62, 43: 54, 47: 52, 50: 38, 48: 37, 45: 33, 52: 33, 49: 33, 54: 31, 51: 28, 53: 22, 55: 21, 57: 17, 59: 14, 56: 14, 60: 13, 62: 12, 58: 10, 61: 9, 64: 8, 67: 7, 70: 7, 66: 7, 81: 4, 75: 4, 69: 4, 65: 4, 78: 3, 68: 3, 63: 3, 74: 3, 136: 2, 76: 2, 79: 2, 84: 2, 103: 2, 96: 2, 73: 2, 77: 2, 118: 2, 72: 2, 101: 1, 106: 1, 88: 1, 201: 1, 138: 1, 98: 1, 143: 1, 89: 1, 95: 1, 90: 1, 91: 1, 94: 1, 82: 1, 126: 1, 80: 1, 85: 1, 159: 1, 183: 1, 71: 1, 93: 1, 135: 1})
Counter({3: 29399, 2: 28339, 5: 23141, 6: 17477, 1: 12929, 7: 12908, 8: 9270, 9: 6957, 0: 6900, 10: 5271, 11: 4201, 13: 3120, 14: 2510, 15: 2040, 16: 1669, 17: 1296, 18: 1038, 19: 923, 20: 756, 22: 620, 23: 540, 24: 455, 26: 339, 25: 334, 27: 311, 28: 237, 30: 223, 31: 216, 32: 152, 34: 135, 33: 130, 35: 88, 39: 80, 36: 78, 38: 74, 40: 60, 41: 51, 43: 43, 42: 41, 44: 36, 47: 32, 51: 30, 45: 28, 48: 24, 49: 23, 54: 21, 56: 17, 53: 16, 55: 16, 50: 15, 52: 14, 58: 11, 59: 10, 57: 9, 61: 8, 60: 8, 65: 6, 63: 6, 69: 6, 62: 5, 76: 5, 72: 5, 66: 4, 68: 4, 82: 3, 86: 3, 106: 3, 70: 3, 64: 2, 67: 2, 78: 2, 73: 2, 80: 2, 89: 2, 84: 2, 92: 2, 81: 2, 173: 1, 113: 1, 115: 1, 87: 1, 126: 1, 96: 1, 91: 1, 150: 1, 79: 1, 94: 1, 74: 1})

In [14]:
# Upload csv
pollution_train_df = pd.read_csv('least_polluted_city.csv')
pollution_train_df.head()

,state_code,county_code,site_num,address,state,county,city,date_local,co_agi
0,40,21,9002,"P.O. BOX 948 TAHLEQUAH, OK 74464",Oklahoma,Cherokee,Park Hill,2000-03-02,2
1,40,21,9002,"P.O. BOX 948 TAHLEQUAH, OK 74464",Oklahoma,Cherokee,Park Hill,2000-03-03,1
2,40,21,9002,"P.O. BOX 948 TAHLEQUAH, OK 74464",Oklahoma,Cherokee,Park Hill,2000-03-04,2
3,40,21,9002,"P.O. BOX 948 TAHLEQUAH, OK 74464",Oklahoma,Cherokee,Park Hill,2000-03-05,3
4,40,21,9002,"P.O. BOX 948 TAHLEQUAH, OK 74464",Oklahoma,Cherokee,Park Hill,2000-03-06,1

In [16]:
pollution_train_df[["year", "month", "day"]] = pollution_train_df["date_local"].str.split("-", expand = True)
pollution_train_df.head()

,state_code,county_code,site_num,address,state,county,city,date_local,co_agi,year,month,day
0,40,21,9002,"P.O. BOX 948 TAHLEQUAH, OK 74464",Oklahoma,Cherokee,Park Hill,2000-03-02,2,2000,03,02
1,40,21,9002,"P.O. BOX 948 TAHLEQUAH, OK 74464",Oklahoma,Cherokee,Park Hill,2000-03-03,1,2000,03,03
2,40,21,9002,"P.O. BOX 948 TAHLEQUAH, OK 74464",Oklahoma,Cherokee,Park Hill,2000-03-04,2,2000,03,04
3,40,21,9002,"P.O. BOX 948 TAHLEQUAH, OK 74464",Oklahoma,Cherokee,Park Hill,2000-03-05,3,2000,03,05
4,40,21,9002,"P.O. BOX 948 TAHLEQUAH, OK 74464",Oklahoma,Cherokee,Park Hill,2000-03-06,1,2000,03,06

In [18]:
pollution_train_df.to_csv("least_polluted_city.csv")

In [19]:
# Upload csv
pollution_train_df = pd.read_csv('least_polluted_city.csv')
pollution_train_df.head()

,Unnamed: 0,state_code,county_code,site_num,address,state,county,city,date_local,co_agi,year,month,day
0,0,40,21,9002,"P.O. BOX 948 TAHLEQUAH, OK 74464",Oklahoma,Cherokee,Park Hill,2000-03-02,2,2000,3,2
1,1,40,21,9002,"P.O. BOX 948 TAHLEQUAH, OK 74464",Oklahoma,Cherokee,Park Hill,2000-03-03,1,2000,3,3
2,2,40,21,9002,"P.O. BOX 948 TAHLEQUAH, OK 74464",Oklahoma,Cherokee,Park Hill,2000-03-04,2,2000,3,4
3,3,40,21,9002,"P.O. BOX 948 TAHLEQUAH, OK 74464",Oklahoma,Cherokee,Park Hill,2000-03-05,3,2000,3,5
4,4,40,21,9002,"P.O. BOX 948 TAHLEQUAH, OK 74464",Oklahoma,Cherokee,Park Hill,2000-03-06,1,2000,3,6