In [1]:
# A mockup of our machine learning model
# accuracy of predicting Air Quality Index for most polluted and least polluted city

In [2]:
# Import our dependencies
import pandas as pd
import matplotlib as plt
import sklearn as skl
import sqlalchemy
from sqlalchemy import create_engine 
from sklearn.model_selection import train_test_split
from collections import Counter

In [3]:
# Postgres username, password, and database name (change accordingly)
postgres_address = 'localhost'
postgres_port = '5432' 
postgres_username = 'postgres' 
postgres_password = 'Wolfin2330'
postgres_dbname = 'Pollution_US'
# A long string that contains the necessary Postgres login information
postgres_str = ('postgresql://{username}:{password}@{ipaddress}:{port}/{dbname}'
                .format(username=postgres_username,
                        password=postgres_password,
                        ipaddress=postgres_address,
                        port=postgres_port,
                        dbname=postgres_dbname))
# Create the connection
cnx = create_engine(postgres_str)

In [4]:
pollution_train_df = pd.read_sql_query('''SELECT * FROM most_polluted_city;''' , cnx)
pollution_train_df.head()

,state_code,county_code,site_num,address,state,county,city,date_local,co_agi
0,6,73,1007,"330A 12TH AVE., SAN DIEGO, CA. 92112",California,San Diego,San Diego,2000-01-01,17
1,6,73,1007,"330A 12TH AVE., SAN DIEGO, CA. 92112",California,San Diego,San Diego,2000-01-02,20
2,6,73,1007,"330A 12TH AVE., SAN DIEGO, CA. 92112",California,San Diego,San Diego,2000-01-03,30
3,6,73,1007,"330A 12TH AVE., SAN DIEGO, CA. 92112",California,San Diego,San Diego,2000-01-04,34
4,6,73,1007,"330A 12TH AVE., SAN DIEGO, CA. 92112",California,San Diego,San Diego,2000-01-05,41

In [5]:
# Split data into our features
feature_cols = ['state_code', 'county_code', 'site_num','county','city', 'date_local']
X = pollution_train_df [feature_cols]
y = pollution_train_df ['co_agi']

In [6]:
# Split the dataset into testing and traing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=6)

In [7]:
print(Counter(y_train))
print(Counter(y_test))

Counter({8: 396, 7: 353, 9: 339, 10: 320, 5: 312, 6: 291, 11: 267, 13: 224, 14: 203, 15: 170, 3: 159, 16: 159, 17: 151, 19: 130, 18: 128, 20: 114, 22: 99, 23: 82, 24: 77, 25: 75, 2: 66, 26: 61, 27: 52, 28: 40, 30: 37, 32: 28, 31: 28, 34: 20, 33: 17, 35: 15, 36: 13, 40: 11, 44: 8, 42: 8, 39: 7, 38: 7, 41: 6, 1: 5, 49: 3, 55: 3, 43: 3, 45: 2, 54: 2, 53: 2, 47: 2, 51: 1, 48: 1, 50: 1, 61: 1, 52: 1})
Counter({7: 240, 8: 224, 9: 217, 5: 209, 6: 195, 10: 185, 11: 174, 13: 159, 3: 138, 15: 134, 14: 133, 16: 109, 18: 96, 19: 92, 17: 89, 23: 73, 20: 72, 22: 64, 2: 51, 26: 49, 24: 39, 27: 36, 25: 33, 28: 32, 31: 29, 32: 22, 30: 21, 33: 21, 34: 15, 1: 6, 47: 5, 38: 4, 39: 4, 40: 4, 41: 3, 45: 3, 36: 3, 50: 3, 35: 3, 51: 3, 0: 2, 42: 2, 44: 1, 65: 1, 53: 1, 54: 1, 43: 1})

In [11]:
pollution_train_df1 = pd.read_sql_query('''SELECT * FROM least_polluted_city;''' , cnx)
pollution_train_df1.head()

,state_code,county_code,site_num,address,state,county,city,date_local,co_agi
0,40,21,9002,"P.O. BOX 948 TAHLEQUAH, OK 74464",Oklahoma,Cherokee,Park Hill,2000-03-02,2
1,40,21,9002,"P.O. BOX 948 TAHLEQUAH, OK 74464",Oklahoma,Cherokee,Park Hill,2000-03-03,1
2,40,21,9002,"P.O. BOX 948 TAHLEQUAH, OK 74464",Oklahoma,Cherokee,Park Hill,2000-03-04,2
3,40,21,9002,"P.O. BOX 948 TAHLEQUAH, OK 74464",Oklahoma,Cherokee,Park Hill,2000-03-05,3
4,40,21,9002,"P.O. BOX 948 TAHLEQUAH, OK 74464",Oklahoma,Cherokee,Park Hill,2000-03-06,1

In [12]:
pollution_train_df1[["year", "month", "day"]] = pollution_train_df1["date_local"].str.split("-", expand = True)

AttributeError: Can only use .str accessor with string values!